.btnContainer {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.stepBtn {
  margin-right: 5%;
  background-color: var(--additional-color);
}

.increase {
  background-color: var(--active-btn-color);
}

.decrease {
  color: var(--additional-text-color);
  background-color: var(--inactive-btn-color);
}
