:root {
  --counter-bg-color: #ebbe45;
  --additional-color: #e5e5e5;
  --main-text-color: #3a1700;
  --additional-text-color: #ffffff;
}

.counter {
  width: 35vw;
  padding: 2rem;
  margin: auto;

  border-radius: calc(var(--border-radius) * 3);
  background-color: var(--counter-bg-color);
  text-align: center;
}

.value {
  color: var(--main-text-color);
  font-size: 3rem;
}
