:root {
  --counter-bg-color: #ebbe45;
  --additional-color: #e5e5e5;
  --main-text-color: #3a1700;
  --additional-text-color: #ffffff;
}

.counter {
  --counter-border: 4px solid var(--bg-pg-color);
  --border-indent: 4px;

  width: 35vw;
  padding: 2rem;
  margin: 1rem auto;
  
  border-radius: calc(var(--border-radius) * 3);
  background-color: var(--counter-bg-color);
  text-align: center;

  position: relative;

}

.counterWrapper {
  position: relative;
  z-index: 2;
}

.counter::after {
  content: "";
  width: 85%;

  border-bottom: var(--counter-border);
  border-top: var(--counter-border);

  position: absolute;
  left: 7.5%;
  top: var(--border-indent);
  bottom: var(--border-indent);
}

.counter::before {
  content: "";
  height: 60%;

  border-left: var(--counter-border);
  border-right: var(--counter-border);

  position: absolute;
  left: var(--border-indent);
  right: var(--border-indent);
  top: 20%;
}

.value {
  color: var(--main-text-color);
  font-size: 3rem;
}
