.autoClickContainer {
  --spaces: 2%;

  margin-top: 1rem;
  margin-left: 20%;
  text-align: left;
}

.timerContainer > * {
  display: inline;
}
.timerContainer > * + * {
  margin-left: var(--spaces);
}

.showSettingsBtn {
  padding-top: 1rem;
  padding-left: 1rem;

  background-color: transparent;
  border: none;

  background-image: url("./arrowBtn.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.rotateBtn {
  transform: rotate(90deg);
}
