:root {
  --bg-pg-color: #282c34;
  --border-radius: 10px;
  font-size: 13px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-pg-color);
}

.button {
  min-width: 15%;
  padding: 0.5rem 0;

  border: none;
  border-radius: var(--border-radius);
}
.button:hover {
  filter: brightness(80%);
}
.button::first-letter{
  text-transform: uppercase;
}
